header.header
    .container
        .header__desc.flag-stripes
            h1.heading MASCHERA
            p.text--large.text--red protettiva ipoallergenica
        .header__img
            .header__img-wrapper
                img.img(src="./img/header/mask.jpg" alt="mask")
            .header__img-bottom
                .row.align-center.justify-start
                    p.text--small.text--white Prodotto in 
                        span.text--bold Italia
                        |  - Garantiamo la consegna veloce!
                    .header__ico-wrapper
                        img.ico(src="./img/car.png" alt="car")

        form.header__form
            .header__form-text
                p.text--red.text--upper.text--bold Protezione affidabile contro virus e batteri per tutta la famiglia!
            .header__input
                input.input(type="text" placeholder="Valerio Rossi")
                input.input(type="tel" placeholder="393295885750")
            .header__form-text
                p.text--darkred Disponibili: 
                    span.text--black.text--bold 17
                    |  pezzi
            button.form__button(type="submit") ORDINARE

