main.main
    .container
        .text-box.text-box--green
            p.text--white "Promozione: se ordini 5 o più maschere la consegna è gratuita! *
        .text-box
            p.text--darkred Più di 
                span.text--black.text--bold 17.840
                |  pezzi venduti nell'ultima settimana"
        include ./main-slider.pug

        .text-box.text-box--darkgreen.text--white
            p.text--upper ATTENZIONE:
            p non stai rischiando nulla!
        .main__desc.text-box
            .guard-bg
                p.text Tutti i nostri prodotti sono conformi ai principali standard di qualità europea e vengono sottoposti a un controllo approfondito prima della spedizione.
                p.text Per motivi di sicurezza, tutti i pacchetti sono disinfettati e solo successivamente vengono inviati al destinatario. Tutte le manipolazioni con i prodotti vengono eseguite in speciali tute protettive.
                p.text Noi rispettiamo tutti i requisiti del Ministero della Salute.


