.slider
    .owl-carousel.owl-theme
        .item
            .main__img-wrapper.text-box--darkgreen
                .text-box.min-padding
                    p.text--bold.text--upper Non lasciate che l'infezione penetri all'interno!
                .slider-img
                    .row.justify-end
                        .slider-img-wrapper
                            img.slider-img(src="./img/main/mask-main.png" alt="mask")
                    .circle.alt-card
                        .row.row--column.align-center
                            .img-wrapper--small
                                img.img-wrapper--small(src="./img/main/baby.png" alt="baby")
                            p.text--center Misura universale per adulti e bambini
        .item
            .main__img-wrapper.text-box--darkgreen
                .text-box.min-padding
                    p.text--bold.text--upper Non lasciate che l'infezione penetri all'interno!
                .slider-img
                    .row.justify-end
                        .slider-img-wrapper
                            img.slider-img(src="./img/main/mask-main.png" alt="mask")
                    .circle.alt-card
                        .row.row--column.align-center
                            .img-wrapper--small
                                img.img-wrapper--small(src="./img/main/baby.png" alt="baby")
                            p.text--center Misura universale per adulti e bambini
        .item
            .main__img-wrapper.text-box--darkgreen
                .text-box.min-padding
                    p.text--bold.text--upper Non lasciate che l'infezione penetri all'interno!
                .slider-img
                    .row.justify-end
                        .slider-img-wrapper
                            img.slider-img(src="./img/main/mask-main.png" alt="mask")
                    .circle.alt-card
                        .row.row--column.align-center
                            .img-wrapper--small
                                img.img-wrapper--small(src="./img/main/baby.png" alt="baby")
                            p.text--center Misura universale per adulti e bambini
        .item
            .main__img-wrapper.text-box--darkgreen
                .text-box.min-padding
                    p.text--bold.text--upper Non lasciate che l'infezione penetri all'interno!
                .slider-img
                    .row.justify-end
                        .slider-img-wrapper
                            img.slider-img(src="./img/main/mask-main.png" alt="mask")
                    .circle.alt-card
                        .row.row--column.align-center
                            .img-wrapper--small
                                img.img-wrapper--small(src="./img/main/baby.png" alt="baby")
                            p.text--center Misura universale per adulti e bambini
    .slider__desc
        .row.align-center.justify-start
            .icon--alert
                svg(width="48" height="48")
                    use(href="./img/svg-sprite.svg#alert")
            p Triplo effetto di filtraggio con un grado di protezione del 99,9%